textarea {
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.news-text-field-wrapper {
    border: 1px solid black;
}

.news-text-field-editor {
    min-height: 300px;
}